<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Asegúrate de que este archivo existe -->
</head>
<body>
    {{{body}}} <!-- Este es el contenido que será reemplazado por las vistas como 'product' -->
</body>
</html>
